body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.footer {
  padding: 150px 0;
}

.das-form {


}
.das-form .control-label{

}

.navbar-danger{
  background-color: #e74c3c;
}